<div class="inventory">

  <!-- Card -->
  <mat-card class="acard" id="add">

    <!-- Header -->
    <mat-card-header>
      <mat-card-title>Add a <strong>Product</strong> to the Inventory</mat-card-title>
      <!-- <mat-card-subtitle>GS Fundraising Platform</mat-card-subtitle> -->
    </mat-card-header>

    <!-- Content -->
    <mat-card-content>
      <form (submit)="onAddInventory(formDirective)" [formGroup]="inventoryForm" #formDirective="ngForm">

        <!-- Product Name -->
        <mat-form-field appearance="standard" class="full-width">
          <mat-label>Product Name</mat-label>
          <input
            matInput
            formControlName="name"
            placeholder="EX: Chocolate Chip Cookie"
            required>
          <mat-error *ngIf="inventoryForm.controls.name.hasError('required')">
            Product name is <strong>required</strong>!
          </mat-error>
        </mat-form-field>

        <!-- Group Select -->
        <mat-form-field appearance="standard" class="full-width">
          <mat-label>Group</mat-label>
          <mat-select
            formControlName="group"
            required>
            <mat-option *ngFor="let e of groups" [value]="e.groupId">
              {{e.groupId}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="inventoryForm.controls.group.hasError('required')">
            Please Select a Group for the Product.
          </mat-error>
        </mat-form-field>

        <!-- Cost -->
        <mat-form-field appearance="standard" class="full-width">
          <mat-label>Cost</mat-label>
          <input
            matInput
            type="number"
            formControlName="cost"
            placeholder="EX: $3.50"
            required>
          <span matPrefix>$&nbsp;</span>
          <!-- <span matSuffix>.00</span> -->
          <mat-error *ngIf="inventoryForm.controls.cost.hasError('required')">
            Product cost is <strong>required</strong>!
          </mat-error>
        </mat-form-field>

        <!-- Sale Price -->
        <mat-form-field appearance="standard" class="full-width">
          <mat-label>Sales Price</mat-label>
          <input
            matInput
            type="number"
            formControlName="salePrice"
            placeholder="EX: $6.50"
            required>
          <span matPrefix>$&nbsp;</span>
          <mat-error *ngIf="inventoryForm.controls.salePrice.hasError('required')">
            Product sales price is <strong>required</strong>!
          </mat-error>
        </mat-form-field>

        <!-- Weight -->
        <mat-form-field appearance="standard" class="full-width">
          <mat-label>Weight</mat-label>
          <input
            matInput
            type="number"
            formControlName="weight"
            placeholder="EX: 10 oz"
            required>
          <span matSuffix>oz</span>
          <mat-error *ngIf="inventoryForm.controls.weight.hasError('required')">
            Product weight is <strong>required</strong>!
          </mat-error>
        </mat-form-field>

        <!-- Quantity -->
        <mat-form-field appearance="standard" class="full-width">
          <mat-label>Quantity</mat-label>
          <input
            matInput
            type="number"
            formControlName="quantity"
            placeholder="EX: 2500 qty"
            required>
          <mat-error *ngIf="inventoryForm.controls.quantity.hasError('required')">
            Product quantity is <strong>required</strong>!
          </mat-error>
          <mat-error *ngIf="inventoryForm.controls.quantity.hasError('pattern')">
            Product should be an <strong>integer</strong> value!
          </mat-error>
        </mat-form-field>

        <!-- Desc Input -->
        <mat-form-field appearance="standard" class="full-width">
          <mat-label>Description</mat-label>
          <input
            matInput
            name="desc"
            type="text"
            maxlength="255"
            formControlName="desc"
            placeholder="EX: Made with care at our facilities.">
          <mat-error *ngIf="inventoryForm.controls.desc.hasError('maxLength')">
            Description is too <strong>Long</strong>!
          </mat-error>
        </mat-form-field>

        <!-- Actions -->
        <mat-card-actions>
            <div class="formsubmit">
              <button
                  type="submit"
                  mat-raised-button
                  [disabled]="!inventoryForm.valid"
                  color="primary">Add Product</button>
            </div>
        </mat-card-actions>
      </form>

    </mat-card-content>

    <!-- Footer -->
    <mat-card-footer>
      <p></p>
    </mat-card-footer>
  </mat-card>

  <div class="inventory-overview">
    <mat-card class="inv-overview">
      <div style="display: block">
          <canvas baseChart
            [chartType]="chartTypeInv"
            [datasets]="chartDatasetsInv"
            [labels]="chartLabelsInv"
            [colors]="chartColorsInv"
            [options]="chartOptionsInv"
            [legend]="true">
          </canvas>
      </div>
    </mat-card>
  </div>

  <div class="atable" id="table">
    <div class="header">
      <mat-form-field>
        <input (keyup)="filter($event.target.value)" matInput placeholder="Filter">
      </mat-form-field>
      <span class="spacer"></span>
      <button mat-flat-button color="accent" (click)="onRefreshInventory()">Refresh</button>
    </div>
    <mat-progress-bar *ngIf="isLoading" mode="query" color="accent"></mat-progress-bar>
    <mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

      <ng-container matColumnDef="productId">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Product Id</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.productId}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="groupId">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Group Id</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.groupId}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Product Name</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="cost">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Cost</mat-header-cell>
        <mat-cell *matCellDef="let element"> ${{element.cost}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="salePrice">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Sales Price</mat-header-cell>
        <mat-cell *matCellDef="let element"> ${{element.salePrice}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="weight">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Weight</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.weight}} oz </mat-cell>
      </ng-container>

      <ng-container matColumnDef="quantity">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Quantity</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.quantity}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="desc">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Description</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.desc}} </mat-cell>
      </ng-container>

       <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <button mat-icon-button (click)="onEdit(row)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button (click)="onDelete(row)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
</div>
