<div >
  <highcharts-chart [Highcharts]="Highcharts" [options]="charOptions"></highcharts-chart>
</div>
<!-- end high chart -->

<div class="dashboard">

  <div class="card animation">


    <mat-card fxFlex="25">
      <app-card label="New Users" total="50" percentage="35"></app-card>
    </mat-card>





    <!-- <div>Line charts</div>
    <div>Line charts</div>
    <div>Line charts</div>
    <div>Line charts</div>
    <mat-divider></mat-divider>
    <div>table</div>
    <div>Pie chart</div> -->



  </div>

  <div class="card animation">
    <mat-card fxFlex="25">
      <app-card label="Users Retention" total="10" percentage="5"></app-card>

    </mat-card>
  </div>

  <div class="card animation">
    <mat-card fxFlex="25">
      <app-card label="Users Engagement" total="85" percentage="55"></app-card>
    </mat-card>
  </div>

  <div class="card animation">
    <mat-card fxFlex="25">
      <app-card label="Referral " total="20" percentage="15"></app-card>
    </mat-card>
  </div>


    <div class="card border-left-primary shadow h-100 py-2 animation">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Earnings (Monthly)</div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">$40,000</div>
          </div>
          <div class="col-auto">
            <i class="fas fa-calendar fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>


  <!-- Earnings (Monthly) Card Example -->

    <div class="card border-left-success shadow h-100 py-2 animation">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Earnings (Annual)</div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">$215,000</div>
          </div>
          <div class="col-auto">
            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>


  <!-- Earnings (Monthly) Card Example -->

    <div class="card border-left-info shadow h-100 py-2 animation">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Tasks</div>
            <div class="row no-gutters align-items-center">
              <div class="col-auto">
                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">50%</div>
              </div>
              <div class="col">
                <div class="progress progress-sm mr-2">
                  <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-auto">
            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>


  <!-- Pending Requests Card Example -->

    <div class="card border-left-warning shadow h-100 py-2 animation">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Pending Requests</div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">18</div>
          </div>
          <div class="col-auto">
            <i class="fas fa-comments fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>








  <!-- end class dashbaord -->
</div>


<div class="try">
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Projects</h6>
    </div>
    <div class="card-body">
      <h4 class="small font-weight-bold">Server Migration <span class="float-right">20%</span></h4>
      <div class="progress mb-4">
        <div class="progress-bar bg-danger" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      <h4 class="small font-weight-bold">Sales Tracking <span class="float-right">40%</span></h4>
      <div class="progress mb-4">
        <div class="progress-bar bg-warning" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      <h4 class="small font-weight-bold">Customer Database <span class="float-right">60%</span></h4>
      <div class="progress mb-4">
        <div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      <h4 class="small font-weight-bold">Payout Details <span class="float-right">80%</span></h4>
      <div class="progress mb-4">
        <div class="progress-bar bg-info" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      <h4 class="small font-weight-bold">Account Setup <span class="float-right">Complete!</span></h4>
      <div class="progress">
        <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>
  </div>
</div>



<!-- Content -->
<div class="card">
  <mat-form-field>
    <input (keyup)="filter($event.target.value)" matInput placeholder="Filter">
  </mat-form-field>
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <!-- Id Column -->
    <ng-container matColumnDef="groupId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>GroupId</th>
      <td mat-cell *matCellDef="let element"> {{element.groupId}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="groupName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Group Name</th>
      <td mat-cell *matCellDef="let element"> {{element.groupName}} </td>
    </ng-container>

    <!-- Location Column -->
    <ng-container matColumnDef="groupLocation">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Location</th>
      <td mat-cell *matCellDef="let element"> {{element.groupLocation}} </td>
    </ng-container>

    <!-- Description Column -->
    <ng-container matColumnDef="groupDesc">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
      <td mat-cell *matCellDef="let element"> {{element.groupDesc}} </td>
    </ng-container>



    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator
    [pageSizeOptions]="[5, 10, 25]"
     showFirstLastButtons></mat-paginator>
</div>
