.circle-tile {
  margin-bottom: 15px;
  text-align: center;
}
.circle-tile-heading {
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-radius: 100%;
  color: #FFFFFF;
  height: 80px;
  margin: 0 auto -40px;
  position: relative;
  transition: all 0.3s ease-in-out 0s;
  width: 80px;
}
.circle-tile-heading .fa {
  line-height: 80px;
}
.circle-tile-content {
  padding-top: 50px;
}
.circle-tile-number {
  font-size: 26px;
  font-weight: 700;
  line-height: 1;
  padding: 5px 0 15px;
}
.circle-tile-description {
  text-transform: uppercase;
}
.circle-tile-footer {
  background-color: rgba(0, 0, 0, 0.1);
  color: rgba(255, 255, 255, 0.5);
  display: block;
  padding: 5px;
  font-size: 30px;
  transition: all 0.3s ease-in-out 0s;
}
.circle-tile-footer:hover {
  background-color: rgba(0, 0, 0, 0.2);
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}
.circle-tile-heading.dark-blue:hover {
  background-color: #2E4154;
}
.circle-tile-heading.green:hover {
  background-color: #138F77;
}
.circle-tile-heading.orange:hover {
  background-color: #DA8C10;
}
.circle-tile-heading.blue:hover {
  background-color: #2473A6;
}
.circle-tile-heading.red:hover {
  background-color: #CF4435;
}
.circle-tile-heading.purple:hover {
  background-color: #7F3D9B;
}
.tile-img {
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.9);
}

.dark-blue {
  background-color: #34495E;
}
.green {
  background-color: #16A085;
}
.blue {
  background-color: #2980B9;
}
.orange {
  background-color: #F39C12;
}
.red {
  background-color: #E74C3C;
}
.purple {
  background-color: #8E44AD;
}
.dark-gray {
  background-color: #7F8C8D;
}
.gray {
  background-color: #95A5A6;
}
.light-gray {
  background-color: #BDC3C7;
}
.yellow {
  background-color: #F1C40F;
}
.text-dark-blue {
  color: #34495E;
}
.text-green {
  color: #16A085;
}
.text-blue {
  color: #2980B9;
}
.text-orange {
  color: #F39C12;
}
.text-red {
  color: #E74C3C;
}
.text-purple {
  color: #8E44AD;
}
.text-faded {
  color: rgba(255, 255, 255, 0.7);
}














.title {
  color: rgba(0, 0, 0, 0.596);
  // font-family: cursive;
  font-size: 35px;
  font-weight: bold;
  margin-top: 35px;
  text-align: center;
  text-shadow: 0 1px 1px #fff;
}

// table
.aScoutTable {
  grid-area: ScoutTable;
  $atableColor: rgb(10, 92, 41);
  $atableAccent: rgb(129, 219, 44);
  margin: 50px 15px auto 15px;
  padding: 50px auto;
  background-color: white;
  table {
    background-color: $atableColor;
    width: 100%;
    height: 100%;
  }
  mat-form-field {
    margin: 10px 50px;
    color: black;
  }
  mat-paginator {
    background-color: $atableColor;
  }
  td, th, mat-paginator {
    color: white;
  }

}

// chart
.chart {

  grid-area: chart;
  padding: 40px 20px 20px 20px;
  margin-top: 30px;
  // max-height: 500px;
  // max-width: 900px;
}

// .member-overview canvas {
//   margin-left: auto;
//   margin-right: auto;
// }

// mat-card {
//   margin: 20px 20px 20px 20px;
//   min-height: 300px;
//   min-width: 400px;
// }

.chart-table canvas {
  height: 900px;
  width: 900px;

  margin-left: auto;
  margin-right: auto;
}

.members {
  grid-area: members;
  margin-top: 100px;

  .mmb {
    background-color: none;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
  };
}


.aGroupTable {
  grid-area: GroupTable;
  margin: 50px 15px auto 15px;
  padding: 50px auto;
  background-color: white;
  table {
    width: 100%;
    height: 100%;
    background-color: LightSlateGray;
  }
  mat-form-field {
    margin: 10px 50px;
    color: black;
  }
  mat-paginator {
    background-color: LightSlateGray;
  }
  td, th, mat-paginator {
    color: white;
  }

}


  .view {
    background-color: rgba(0, 0, 0, 0.486);
    margin-top: 10px;
    text-align: center;
    color: white;
    justify-content: center;
    align-items: center;
  }




.leaders {
  grid-area: leaders;
  margin-top: 80px;


}



.aLeaderTable {
  grid-area: LeaderTable;
  margin: 50px 15px auto 15px;
  padding: 50px auto;
  background-color: white;
  table {
    background-color: #4682B4;
    width: 100%;
    height: 100%;
  }
  mat-form-field {
    margin: 10px 50px;
    color: black;
  }
  mat-paginator {
    background-color: #4682B4;
  }
  td, th, mat-paginator {
    color: white;
  }
}










.animation:hover {
  transition: transform 0.6s;
  transform: translateY(-10px);

}

.footer {
  grid-area: footer;
  background-color: rgb(66, 131, 66);
  height: 50px;
  color: white;
  text-align: center;
  padding-top: 15px;
}




@supports not (display: grid) {
  .dashboard {
    max-width: 50em;
    margin: 0 auto;
  }
}

@supports (display: grid) {
  @media screen and (min-width: 600px) {
    .dashboard {
      display: grid;
      // height: 100vh;
      width: 100%;
      grid-gap: 20px;
      margin: 0;
      padding: 50px 50px 50px 50px;
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
      "members members"
      "ScoutTable ScoutTable"
      "GroupTable GroupTable"
      "chart chart"
      "leaders leaders"
      "LeaderTable LeaderTable"
      ;
    }

    .chart-table canvas {
      height: 900px;
      width: 900px;

      margin-left: auto;
      margin-right: auto;
    }
  }

  @media screen and (min-width: 1200px) {
    .dashboard {
      display: grid;
      // height: 100vh;
      width: 100%;
      grid-gap: 20px;
      padding: 50px 50px 50px 50px;
      grid-template-columns: 1fr 0.2fr 1fr;
      grid-template-areas:
      "members ScoutTable ScoutTable"
      " GroupTable chart chart"
      "leaders LeaderTable LeaderTable"
      // "LeaderTable chart chart"
      ;
      }

      .atable {
        max-height: 500px;
      }

    }

}
