




<div class="dashboard">


  <div class="members " id="members-d">
    <!-- <mat-card class="mmb">
      <h1 style="font-size: 2em;">Total Members In Troop</h1>
      <h2 style="font-size:2em;">{{totalScout}}  <i class='fas fa-child' style='font-size:24px; color:"black";'></i></h2>
    </mat-card> -->

      <div class="circle-tile ">
        <a routerLinkActive="activeRoute" [routerLink]="['/members-scouts']">
          <div class="circle-tile-heading dark-blue">
            <i class="fa fa-users fa-fw fa-3x"></i>
        </div>
      </a>
        <div class="circle-tile-content dark-blue">
          <div class="circle-tile-description text-faded">Total Members In Troop</div>
          <div class="circle-tile-number text-faded ">{{totalScout}} <i class='fas fa-child' style='font-size:24px;'></i></div>
          <a class="circle-tile-footer" routerLinkActive="activeRoute" [routerLink]="['/members-scouts']">View <i class="fa fa-chevron-circle-right"></i></a>
        </div>
      </div>
  </div>
<!-- end of class members -->


    <!-- Content -->
    <div class="aScoutTable animation">
      <div class="title">Scout Table</div>
      <mat-form-field>
        <input (keyup)="filterScout($event.target.value)" matInput placeholder="Filter">
      </mat-form-field>
      <table mat-table [dataSource]="dataScoutSource" matSort #ScoutSort="matSort" class="mat-elevation-z8">

      <!-- Id Column -->
      <ng-container matColumnDef="userId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>User ID</th>
        <td mat-cell *matCellDef="let element"> {{element.userId}} </td>
      </ng-container>

      <!-- GroupId Column -->
      <ng-container matColumnDef="groupId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Group ID</th>
        <td mat-cell *matCellDef="let element"> {{element.groupId}} </td>
      </ng-container>

      <!-- Description Column -->
      <ng-container matColumnDef="fullname">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td mat-cell *matCellDef="let element"> {{element.fullname}} </td>
      </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedScoutColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedScoutColumns;"></tr>
    </table>

    <mat-paginator
    #ScoutPaginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons
      >
    </mat-paginator>
    </div>



<!--------------------------------------------------------------------------->


    <div class="chart ">
      <mat-card class="chart-table ">
        <canvas baseChart
        [chartType]="chartTypeTrp"
        [datasets]="chartDatasetsTrp"
        [labels]="chartLabelsTrp"
        [colors]="chartColorsTrp"
        [options]="chartOptionsTrp"
        [legend]="true"
        (chartHover)="chartHoveredTrp($event)"
        (chartClick)="chartClickedTrp($event)">
        </canvas>
      </mat-card>

      <!-- <div class="view">
        <a class="circle-tile-footer" routerLinkActive="activeRoute" [routerLink]="['/members-groups']">View <i class="fa fa-chevron-circle-right"></i></a>
      </div> -->
    </div>

    <div class="aGroupTable animation">
      <div class="title">Group Table</div>
      <mat-form-field>
        <input (keyup)="filterGroup($event.target.value)" matInput matSortActive ="GroupSort" placeholder="Filter">
      </mat-form-field>

      <table mat-table [dataSource]="dataGroupSource" matSort #GroupSort="matSort" class="mat-elevation-z8">

        <!-- Id Column -->
        <ng-container matColumnDef="groupId">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Group ID</th>
          <td mat-cell *matCellDef="let element"> {{element.groupId}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="groupName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Group Name</th>
          <td mat-cell *matCellDef="let element"> {{element.groupName}} </td>
        </ng-container>

        <!-- Location Column -->
        <ng-container matColumnDef="groupLocation">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Location</th>
          <td mat-cell *matCellDef="let element"> {{element.groupLocation}} </td>
        </ng-container>

        <!-- Description Column -->
        <ng-container matColumnDef="groupDesc">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
          <td mat-cell *matCellDef="let element"> {{element.groupDesc}} </td>
        </ng-container>



        <tr mat-header-row *matHeaderRowDef="displayedGroupColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedGroupColumns;"></tr>
      </table>

      <mat-paginator
           #GroupPaginator
           [pageSizeOptions]="[5, 10, 15]"
          showFirstLastButtons>
      </mat-paginator>
    </div>





<!--------------------------------------------------------------------------->


  <div class="leaders" *ngIf="userIsAdmin">
    <div class="circle-tile ">
      <a routerLinkActive="activeRoute" [routerLink]="['/members-leaders']">
        <div class="circle-tile-heading red"><i class="fa fa-users fa-fw fa-3x"></i>
        </div>

      </a>
      <div class="circle-tile-content red">
        <div class="circle-tile-description text-faded">Total Leaders In Troop</div>
        <div class="circle-tile-number text-faded ">{{totalLeader}} <i class='fas fa-user-tie' style='font-size:24px;'></i></div>
        <a class="circle-tile-footer" routerLinkActive="activeRoute" [routerLink]="['/members-leaders']">View <i class="fa fa-chevron-circle-right"></i></a>
      </div>
    </div>
  </div>
<!-- end of class leaders -->




    <div class="aLeaderTable animation" *ngIf="userIsAdmin">
    <div class="title">Leader Table</div>
      <mat-form-field>
        <input (keyup)="filterLeader($event.target.value)" matInput placeholder="Filter">
      </mat-form-field>
      <table mat-table [dataSource]="dataLeaderSource" matSort #LeaderSort="matSort" class="mat-elevation-z8">
        <!-- User Id Column -->
        <ng-container matColumnDef="userId">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>User ID</th>
          <td mat-cell *matCellDef="let element"> {{element.userId}} </td>
        </ng-container>

        <!-- Full Name Column -->
        <ng-container matColumnDef="fullname">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
          <td mat-cell *matCellDef="let element"> {{element.fullname}} </td>
        </ng-container>

        <!-- Email Column -->
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
          <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>



        <tr mat-header-row *matHeaderRowDef="displayedLeaderColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedLeaderColumns;"></tr>
      </table>

      <mat-paginator
         #LeaderPaginator
         [pageSizeOptions]="[5, 10, 15]"
         showFirstLastButtons
       >
      </mat-paginator>
    </div>
    <!-- end of class aLeaderTable -->















