.jumbotron h1, p {
  color: black;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 50px 50px 50px 50px;
  min-width: 200px;
}

.cards-1 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 50px 50px 0px 50px;
  min-width: 200px;
  border-radius: 10px;

  box-shadow: 2px 4px 25px rgba(0, 0, 0, .5);
  text-align: center;

}
.group-title {
  color: black;
  padding: 20px 10px 15px 25px;
}




// table section - container 2

.table-event {
  width: 1000px;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
  padding:10px;

}

.tble-1{
  tr:first-child {
    background-color: #9b99cb;
  }

  tr:nth-child(even) {
    background-color: #e6e6ff;
  }

  tr:not(:first-child):nth-child(odd) {
    background-color: white;
  }
}
// table section - container 2


// container 3
.title-color {
  background-color: purple;
  color:white;
  padding:10px 0px 10px 10px;
  text-align: center;
  margin-bottom: 0px;
  box-shadow: 2px 4px 25px rgba(0, 0, 0, .5);

}

  caption {
    background-color: rgb(18, 158, 18);
    color: white;
    padding-left: 40px;
    font-size: 2em;
}

  ul {
    box-shadow: 2px 4px 25px rgba(0, 0, 0, .5);
    background-color: white;
    font-weight: bold;
  }



  .tlbe-2{
    tr:nth-child(even) {
      background-color: white;
    }

    tr:nth-child(odd) {
      background-color: lightgray;
    }
  }


// container 3




@media screen and (min-width: 1200px) {
  .container-1{
    display:grid;
    grid-gap: 1.5rem;
    grid-template-columns: repeat(auto-fill, minmax(600px,1fr));
    grid-template-rows: auto;
  }
  .container-2{
    display:grid;
    grid-gap: 1.5rem;
    grid-template-columns: auto;
    grid-template-rows: auto;
    margin-bottom: 0px;
  }
  .container-3{
    display:grid;
    grid-gap: 1.5rem;
    grid-template-columns: auto;
    grid-template-rows: auto;
    margin-top: 10px;
  }

}


//mobile UI
@media screen and (min-width: 600px) {
  .container-1 {
    display:grid;
    grid-gap: 5em;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    grid-template-rows: auto;

    padding: 20px 0px;
  }
  .container-2 {
    display:grid;
    grid-gap: 5em;
    grid-template-columns: auto;
    grid-template-rows: auto;
    padding: 20px 0px;
  }
  .container-3 {
    display:grid;
    grid-gap: 5em;
    grid-template-columns: minmax(0,0.4fr) minmax(0,1fr);
    grid-template-rows: auto;
    margin-top: 40px;

    padding: 20px 0px;
  }

}
