<div class="container-1">
  <div class="cards-1">
    <span class="title ">Choose Groups</span>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon class="title material-icons">arrow_drop_down</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <ng-template matMenuContent let-name="group">
        <button mat-menu-item>Group 1</button>
        <button mat-menu-item>Group 2</button>
      </ng-template>
    </mat-menu>
  </div>

</div>  <!-- end of container-1 class -->

<div class="container-2">
  <div class="cards tble-1">
  <table>
    <tr>
      <th>Event</th>
      <th>Location</th>
      <th>Date</th>
      <th>Member</th>
      <th>Inventory</th>
      <th>Desc</th>
    </tr>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </table>

</div>


</div>
<!-- </div>  end of container-2 class -->


<div class="container-3">
  <!-- Member -->
  <div class="cards ">
    <p class="title-color">Members</p>
    <ul>
      <li>Sarah Corner</li>
      <li>Hana Sears</li>
      <li>Bart Simpson</li>
    </ul>
  </div>

<!-- Member -->


<!-- Inventory -->

  <div class="cards tlbe-2">
    <caption>Inventory</caption>
    <table>

      <tr>
        <th>Item</th>
        <th>Cost</th>
        <th>Price</th>
        <th>Quality</th>
        <th>Description</th>
      </tr>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </table>

  </div> <!-- end of class cards tble-2 -->

<!-- Inventory -->



</div>  <!-- end of container-3 class -->
