
.full-width {
  width: 100%;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}

.formsubmit {
  display: block;
  text-align: center;
  padding-top: 1rem;
}

mat-card-footer {
  text-align: right;
  font-size: smaller;
}

mat-spinner {
  margin: auto;
}

.lcard {
  grid-area: lcard;
  max-height: 400px;
  padding: 50px 30px 50px 30px;
  margin: 8rem 2rem 8rem 2rem;
  background-color: rgb(255, 255, 255);
}

.ltable {
  grid-area: ltable;
  margin: 20px 20px 20px 20px;
  table {
    width: 100%;
    height: 100%;
  }
}

@supports not (display: grid) {
  .leader {
    max-width: 50em;
    margin: 0 auto;
  }
}

@supports (display: grid) {
  @media screen and (min-width: 600px) {
    .leader {
      display: grid;
      // height: 100vh;
      // width: 100vw;
      grid-gap: 0px;
      margin: 0;
      padding: 0;
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
      "lcard lcard"
      "ltable ltable"
      ;
    }
  }

  @media screen and (min-width: 1200px) {
    .leader {
      display: grid;
      // height: 100vh;
      // width: 100vw;
      grid-gap: 0px;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-areas:
      "lcard ltable ltable"
      "lcard ltable ltable";
    }

    .lcard {
      mat-card {
        min-width: 500px;
      }

    }
  }
}




