<div class="scout">

  <!-- Card -->
  <mat-card class="acard">

    <!-- Header -->
    <mat-card-header>
      <mat-card-title>Add A Scout</mat-card-title>
      <!-- <mat-card-subtitle>GS Fundraising Platform</mat-card-subtitle> -->
    </mat-card-header>

    <!-- Content -->
    <mat-card-content>
      <form (submit)="onAddLeader()" [formGroup]="scoutForm">

        <mat-form-field appearance="standard" class="full-width">
          <mat-label>Full Name</mat-label>
          <input
            matInput
            formControlName="name"
            placeholder="EX: Jane Doe"
            autocomplete="fname">
          <mat-error *ngIf="scoutForm.controls.name.hasError('required')">
            Fullname is <strong>required</strong>!
          </mat-error>
        </mat-form-field>

        <!-- Email Input -->
        <mat-form-field appearance="standard" class="full-width">
          <mat-label>Email</mat-label>
          <input
            matInput
            name="email"
            type="email"
            formControlName="email"
            placeholder="EX: email@website.com"
            autocomplete="email">
          <mat-error *ngIf="scoutForm.controls.email.touched && scoutForm.controls.email.errors?.email">
            Please enter a valid <strong>email</strong> address!
          </mat-error>
          <mat-error *ngIf="scoutForm.controls.email.hasError('required')">
            Email is <strong>required</strong>!
          </mat-error>
        </mat-form-field>

        <!-- Password Input -->
        <mat-form-field appearance="standard" class="full-width">
          <mat-label>Password</mat-label>
          <input
            matInput
            formControlName="password"
            name="password"
            [type]="hide ? 'password' : 'text'"
            password
            autocomplete="current-password">
          <button
            mat-icon-button
            matSuffix
            type="button"
            (click)="hide = !hide"
            [attr.aria-label]="'Hide Password'"
            [attr.aria-pressed]="hide"
            >
            <mat-icon>
              {{hide ? 'visibility_off' : 'visibility'}}
            </mat-icon>
          </button>
          <mat-error>
            Password is <strong>required</strong>!
          </mat-error>
        </mat-form-field>

        <!-- Actions -->
        <mat-card-actions>
            <div class="formsubmit">
              <button
                  type="submit"
                  mat-raised-button
                  [disabled]="!scoutForm.valid"
                  color="primary">Add Scout</button>
            </div>
        </mat-card-actions>
      </form>


    </mat-card-content>

    <!-- Footer -->
    <mat-card-footer>
      <p></p>
    </mat-card-footer>
  </mat-card>

  <div class="mat-elevation-z8 atable">
    <table mat-table [dataSource]="scouts">

      <!-- Position Column -->
      <ng-container matColumnDef="userId">
        <th mat-header-cell *matHeaderCellDef>UserID</th>
        <td mat-cell *matCellDef="let element"> {{element.userId}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="fullname">
        <th mat-header-cell *matHeaderCellDef>Fullname</th>
        <td mat-cell *matCellDef="let element"> {{element.fullname}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>Email</th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
</div>
