
<div class="group">

  <!-- Card -->
  <mat-card class="acard">

    <!-- Header -->
    <mat-card-header>
      <mat-card-title>Add A Group</mat-card-title>
      <!-- <mat-card-subtitle>GS Fundraising Platform</mat-card-subtitle> -->
    </mat-card-header>

    <!-- Content -->
    <mat-card-content>
      <form (submit)="onAddGroup(formDirective)" [formGroup]="groupForm" #formDirective="ngForm">

        <mat-form-field appearance="standard" class="full-width">
          <mat-label>GroupId</mat-label>
          <input
            matInput
            type="number"
            formControlName="groupId"
            placeholder="EX: 1233"
            autocomplete="fname">
          <mat-error *ngIf="groupForm.controls.groupId.hasError('required')">
            GroupId is <strong>required</strong>!
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="standard" class="full-width">
          <mat-label>Group Name</mat-label>
          <input
            matInput
            formControlName="groupName"
            placeholder="EX: SpecialStar"
            autocomplete="fname">
          <mat-error *ngIf="groupForm.controls.groupName.hasError('required')">
            Group Name is <strong>required</strong>!
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="standard" class="full-width">
          <mat-label>Group Location</mat-label>
          <input
            matInput
            formControlName="groupLocation"
            placeholder="EX: 123213 Some Street, TX, ZIP"
            autocomplete="address">
          <mat-error *ngIf="groupForm.controls.groupLocation.hasError('required')">
            Group Location is <strong>required</strong>!
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="standard" class="full-width">
          <mat-label>Group Description</mat-label>
          <input
            matInput
            formControlName="groupDesc"
            placeholder="EX: Something"
            autocomplete="fname">
            <!-- <mat-error *ngIf="groupForm.controls.groupDesc.hasError('required')">
              Group Description is <strong>required</strong>!
            </mat-error> -->
        </mat-form-field>

        <!-- Actions -->
        <mat-card-actions>
            <div class="formsubmit">
              <button
                  type="submit"
                  mat-raised-button
                  [disabled]="!groupForm.valid"
                  color="primary">Add Group</button>
            </div>
        </mat-card-actions>
      </form>

    </mat-card-content>

    <!-- Footer -->
    <mat-card-footer>
      <p></p>
    </mat-card-footer>
  </mat-card>

  <div class="atable">
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

      <!-- Id Column -->
      <ng-container matColumnDef="groupId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>GroupId</th>
        <td mat-cell *matCellDef="let element"> {{element.groupId}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="groupName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Group Name</th>
        <td mat-cell *matCellDef="let element"> {{element.groupName}} </td>
      </ng-container>

      <!-- Location Column -->
      <ng-container matColumnDef="groupLocation">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Location</th>
        <td mat-cell *matCellDef="let element"> {{element.groupLocation}} </td>
      </ng-container>

      <!-- Description Column -->
      <ng-container matColumnDef="groupDesc">
        <th mat-header-cell *matHeaderCellDef>Description</th>
        <td mat-cell *matCellDef="let element"> {{element.groupDesc}} </td>
      </ng-container>

       <!-- Action Column -->
       <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell *matCellDef="let element"> Hello </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator
      [pageSizeOptions]="[5, 10, 25]"
       showFirstLastButtons></mat-paginator>
  </div>
</div>
