<div class="sales">

  <mat-card class="acard">
    <mat-card-header>
      <mat-card-title>Total Sales</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <h1>{{this.totalSales | currency}}</h1>
    </mat-card-content>
  </mat-card>

  <mat-card class="bcard">
    <mat-card-header>
      <mat-card-title>Sales Break Down</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div>
        <canvas baseChart
        [chartType]="saleChartType"
        [datasets]="saleChartData"
        [labels]="saleChartLabels"
        [colors]="saleChartColors"
        [options]="saleChartOptions"
        [legend]="true">
  </canvas>
      </div>
    </mat-card-content>
  </mat-card>

  <div class="atable" id="table">
    <div class="header">
      <mat-form-field>
        <input (keyup)="filter($event.target.value)" matInput placeholder="Filter">
      </mat-form-field>
      <span class="spacer"></span>
      <button mat-flat-button color="accent" (click)="onRefreshInventory()">Refresh</button>
    </div>
    <mat-progress-bar *ngIf="isLoading" mode="query" color="accent"></mat-progress-bar>
    <mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

      <ng-container matColumnDef="groupId">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Group Id</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.groupId}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="scoutName">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Scout Name</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.scoutName}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="productName">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Product Name</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.productName}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="quantity">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Quantity</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.quantity}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="price">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Sale Price</mat-header-cell>
        <mat-cell *matCellDef="let element"> ${{element.price}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="saleDate">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Sale Date</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.saleDate}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
</div>
