<div class="login">
  <div class="spacer1"></div>

  <!-- Card -->
  <mat-card class="acard">

    <!-- Header -->
    <mat-card-header>
      <img mat-card-avatar src="../../assets/cookie-svgrepo-com.svg" alt="logo">
      <mat-card-title>Login</mat-card-title>
      <mat-card-subtitle>GS Fundraising Platform</mat-card-subtitle>
    </mat-card-header>

    <!-- Content -->
    <mat-card-content>
      <mat-spinner *ngIf="isLoading"></mat-spinner>
      <form (submit)="onLogin()" [formGroup]="loginForm" *ngIf="!isLoading">

        <!-- Email Input -->
        <mat-form-field appearance="standard" class="full-width">
          <mat-label>Email</mat-label>
          <input
            matInput
            name="email"
            type="email"
            formControlName="email"
            placeholder="EX: email@website.com"
            autocomplete="email">
          <mat-error *ngIf="loginForm.controls.email.touched && loginForm.controls.email.errors?.email">
            Please enter a valid <strong>email</strong> address!
          </mat-error>
          <mat-error *ngIf="loginForm.controls.email.hasError('required')">
            Email is <strong>required</strong>!
          </mat-error>
        </mat-form-field>

        <!-- Password Input -->
        <mat-form-field appearance="standard" class="full-width">
          <mat-label>Password</mat-label>
          <input
            matInput
            formControlName="password"
            name="password"
            [type]="hide ? 'password' : 'text'"
            password
            autocomplete="current-password">
          <button
            mat-icon-button
            matSuffix
            type="button"
            (click)="hide = !hide"
            [attr.aria-label]="'Hide Password'"
            [attr.aria-pressed]="hide"
            *ngIf="!isLoading">
            <mat-icon>
              {{hide ? 'visibility_off' : 'visibility'}}
            </mat-icon>
          </button>
          <mat-error *ngIf="loginForm.controls.email.hasError('required')">
            Password is <strong>required</strong>!
          </mat-error>
        </mat-form-field>

        <!-- Actions -->
        <mat-card-actions>
            <div class="formsubmit">
              <button
                  type="submit"
                  *ngIf="!isLoading"
                  mat-raised-button
                  [disabled]="!loginForm.valid"
                  color="primary">Login</button>
            </div>
            <div class="forgotpassword">
              <a routerLink="/forgot-password"><button
                  *ngIf="!isLoading"
                  mat-raised-button
                  color="secondary">Forgot Your Password?</button></a>
            </div>
        </mat-card-actions>
      </form>


    </mat-card-content>

    <!-- Footer -->
    <mat-card-footer>
      <p>Verison {{version}}</p>
    </mat-card-footer>
  </mat-card>

  <div class="spacer2"></div>
</div>
