mat-card {
    display: flex;
    margin: 20px 20px 20px 20px;
    min-height: 100px;
    width: 90%;
  }

mat-card-content {
    display: flex;
    justify-content: center;
}

mat-form-field {
    margin: 20px 20px;
}

table {
    margin: 20px 20px 20px 20px;
    width: 90%;
}