<div class="dashboard">

  <div class="troops-overview">
    <mat-card class="trp-over">
      <h1 style="text-align: center;">Troop Groups</h1>
      <mat-spinner *ngIf="!isTrpChartReady"></mat-spinner>
      <div style="display: block" *ngIf="isTrpChartReady">
        <canvas
            mdbChart
            [chartType]="chartTypeTrp"
            [datasets]="chartDatasetsTrp"
            [labels]="chartLabelsTrp"
            [colors]="chartColorsTrp"
            [options]="chartOptionsTrp"
            [legend]="true"
            (chartHover)="chartHoveredTrp($event)"
            (chartClick)="chartClickedTrp($event)">
        </canvas>
      </div>
    </mat-card>
  </div>
  <!-- Scouts -->
  <div class="troops" id="troops-d">
    <div class="header">
      <mat-form-field>
        <input (keyup)="filterScout($event.target.value)" matInput placeholder="Filter">
      </mat-form-field>
      <span class="spacer"></span>
      <button mat-flat-button color="accent" (click)="onRefreshScout()">Refresh</button>
    </div>
    <mat-table [dataSource]="dataSourceScout" #sortScout matSort class="mat-elevation-z8">
      <!-- Position Column -->
      <ng-container matColumnDef="userId">
        <mat-header-cell *matHeaderCellDef mat-sort-header>UserID</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.userId}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="groupId">
        <mat-header-cell *matHeaderCellDef mat-sort-header>GroupID</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.groupId}} </mat-cell>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="fullname">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Fullname</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.fullname}} </mat-cell>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumnsScout">       </mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumnsScout;"> </mat-row>
    </mat-table>

    <mat-paginator #paginatorScout [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>

  <div class="groups-overview">
    <div class="header">
      <mat-form-field>
        <input (keyup)="filterGroup($event.target.value)" matInput placeholder="Filter">
      </mat-form-field>
      <span class="spacer"></span>
      <button mat-flat-button color="accent" (click)="onRefreshGroup()">Refresh</button>
    </div>
    <mat-progress-bar *ngIf="isLoadingGroup" mode="query" color="accent"></mat-progress-bar>
    <mat-table [dataSource]="dataSourceGroup" #sortGroup matSort class="mat-elevation-z8">
      <ng-container matColumnDef="groupId">
        <mat-header-cell *matHeaderCellDef mat-sort-header>GroupId</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.groupId}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="groupName">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Group Name</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.groupName}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="groupLocation">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Location</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.groupLocation}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="groupDesc">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Description</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.groupDesc}} </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumnsGroups"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumnsGroups;"></mat-row>
    </mat-table>
    <mat-paginator
      #paginatorGroup
      [pageSizeOptions]="[5, 10, 25]"
       showFirstLastButtons></mat-paginator>
  </div>
  <div class="groups" id="groups-d">
    <mat-card class="grp">
      <h1>Total Groups</h1>
      <h2> {{this.groups.length}} </h2>
      <hr>
      <button mat-flat-button color="accent">View</button>
    </mat-card>
  </div>


  <!-- Leaders -->
  <div class="members-overview" *ngIf="userIsAdmin">
    <div class="header">
      <mat-form-field>
        <input (keyup)="filterLeader($event.target.value)" matInput placeholder="Filter">
      </mat-form-field>
      <span class="spacer"></span>
      <button mat-flat-button color="primary" (click)="onRefreshLeader()">Refresh</button>
    </div>
    <mat-progress-bar *ngIf="isLoadingLeader" mode="query" color="primary"></mat-progress-bar>
    <mat-table [dataSource]="dataSourceLeader" #sortLeader matSort class="mat-elevation-z8">
      <!-- User Id Column -->
      <ng-container matColumnDef="userId">
        <mat-header-cell *matHeaderCellDef mat-sort-header>UserID</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.userId}} </mat-cell>
      </ng-container>

      <!-- Full Name Column -->
      <ng-container matColumnDef="fullname">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Fullname</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.fullname}}  </mat-cell>
      </ng-container>

      <!-- Email Column -->
      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Email </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.email}}   </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumnsLeader"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumnsLeader;"></mat-row>
    </mat-table>

    <mat-paginator #paginatorLeader [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
  <div class="members" id="members-d" *ngIf="userIsAdmin">
    <mat-card class="mmb">
      <h1 class="mat-headline">Total Leaders in Troop</h1>
      <h2 class="mat-title"> {{ this.leaders.length }}</h2>
      <button mat-flat-button color="accent" (click)="routeToLeaders()">Edit Leaders</button>
    </mat-card>
  </div>

  <div class="events-overview">
    <mat-card class="evn-overview">

      <canvas mdbChart
        [chartType]="chartTypeEvn"
        [datasets]="chartDatasetsEvn"
        [labels]="chartLabelsEvn"
        [colors]="chartColorsEvn"
        [options]="chartOptionsEvn"
        [legend]="true"
        (chartHover)="chartHoveredEvn($event)"
        (chartClick)="chartClickedEvn($event)">
      </canvas>

    </mat-card>
  </div>
  <div class="events" id="events-d">
    <mat-card class="evn">
      <h1>Next Event</h1>
      <h2>Febuary 34, 2021</h2>
      <hr>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis mollitia velit voluptate numquam nemo ut ipsam eum dignissimos dolores qui odio, fugit delectus similique nihil ab dolorum deleniti quos aliquid.</p>
      <button mat-flat-button color="accent">View</button>
    </mat-card>
  </div>

  <div class="sales-overview">
    <mat-card class="sal-overview">
      <canvas mdbChart
        [chartType]="chartTypeSal"
        [datasets]="chartDatasetsSal"
        [labels]="chartLabelsSal"
        [colors]="chartColorsSal"
        [options]="chartOptionsSal"
        [legend]="true"
        (chartHover)="chartHoveredSal($event)"
        (chartClick)="chartClickedSal($event)">
      </canvas>
    </mat-card>
  </div>
  <div class="sales" id="sales-d">
    <mat-card class="sal">
      <h1>Total Sales</h1>
      <h2>$45,123</h2>
      <button mat-flat-button color="accent">View</button>
    </mat-card>
  </div>

  <div class="inventory-overview">
    <mat-card class="inv-overview">
      <div style="display: block">
          <canvas mdbChart
                  [chartType]="chartType"
                  [datasets]="chartDatasets"
                  [labels]="chartLabels"
                  [colors]="chartColors"
                  [options]="chartOptions"
                  [legend]="true"
                  (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)">
          </canvas>
      </div>
    </mat-card>
  </div>
  <div class="inventory" id="inventory-d">
    <mat-card class="inv">
      <h1>Total Remaining Inventory</h1>
      <h2>453 Items</h2>
      <hr>
      <h1>Total Items Sold</h1>
      <h2>3259 Items</h2>
      <button mat-flat-button color="accent">View</button>
    </mat-card>
  </div>


</div>
