<div class="dashboard">

  <div class="troops">
    <p>troops</p>
  </div>

  <div class="members">
    <p>members</p>
  </div>

  <div class="events">
    <p>events</p>
  </div>

  <div class="Sales">
    <p>sales</p>
  </div>

  <div class="inventory">
    <div style="display: block">
      <canvas mdbChart
              [chartType]="chartType"
              [datasets]="chartDatasets"
              [labels]="chartLabels"
              [colors]="chartColors"
              [options]="chartOptions"
              [legend]="true"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)">
      </canvas>
    </div>
    <p>inventory</p>
  </div>
</div>
