mat-card {
  margin: 5px;
  padding: 20px;
  min-height: 300px;
  // min-width: 300px;
  width: 98%;
}

mat-spinner {
  margin: 20px auto;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 5px;
  .spacer {
    flex: 1 1 auto;
  }
}

.mat-title {
  color: rgb(240, 207, 23);
}
.mat-title:hover {
  color: rgb(233, 23, 240);
}

.trp-over {
  display: flex;
  flex-direction: column;
  canvas {
    max-height: 500px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }
}


table {
  width: 100%;
  height: 100%;
}

.troops-overview {
  grid-area: troops-overview;
  margin: 20px auto;
  align-self: center;
  justify-self: center;
  canvas {
    height: 100vh;
    width: 100%;
  }
}
.troops {
  grid-area: troops;
  $scoutTablePrimary: rgb(43, 94, 62);
  $scoutTableAccent: rgb(38, 182, 93);
  margin: 50px 15px auto 15px;
  padding: 30px auto 30px auto;
  background-color: $scoutTableAccent;
  // .header {
  //   display: flex;
  //   flex-direction: row;
  //   .spacer {
  //     flex: 1 1 auto;
  //   }
  //   button {
  //     margin: 20px 10px 20px 10px;
  //     padding: 5px;
  //   }
  // }
  mat-table {
    background-color: $scoutTablePrimary;
    width: 100%;
    height: 100%;
  }
  mat-form-field {
    margin: 10px 50px;
    color: white;
  }
  mat-paginator {
    background-color: $scoutTablePrimary;
  }
  mat-header-cell, mat-cell, mat-paginator {
    color: white;
  }
}


.members-overview {
  grid-area: members-overview;
  $primary: rgb(230, 88, 63);
  justify-items: center;
  margin: 50px 10px auto 10px;
  padding: 100px auto 100px auto;
  background-color: $primary;

  mat-table {
    background-color: $primary;
    width: 100%;
    height: 100%;
  }
  mat-form-field {
    margin: 10px 50px;
    color: white;
  }
  mat-paginator {
    background-color: $primary;
  }
  mat-header-cell, mat-cell, mat-paginator {
    color: white;
  }
}
.members {
  grid-area: members;
  justify-items: center;
  .mmb {
    display: flex;
    flex-direction: column;
    background-color: OliveDrab;
    text-align: center;
    color: white;
    justify-content: center;
    align-items: center;
  };
}

.events-overview {
  grid-area: events-overview;
  justify-items: center;
}
.events {
  grid-area: events;
  justify-items: center;
  .evn {
    display: flex;
    flex-direction: column;
    background-color: LemonChiffon;
    text-align: center;
    color: black;
    justify-content: center;
    align-items: center;
  };
}

.groups-overview {
  grid-area: groups-overview;
  margin: 50px 10px auto 10px;
  padding: 100px auto 100px auto;
  justify-content: center;
  background-color: LightSlateGray;
  mat-table {
    background-color: LightSlateGray;
    width: 100%;
    height: 100%;
  }
  // .header {
  //   display: flex;
  //   flex-direction: row;
  //   .spacer {
  //     flex: 1 1 auto;
  //   }
  //   button {
  //     margin: 20px 10px 20px 10px;
  //     padding: 5px;
  //   }
  // }
  mat-form-field {
    margin: 10px 50px;
    color: white;
  }
  mat-paginator {
    background-color: LightSlateGray;
  }
  mat-header-cell, mat-cell, mat-paginator {
    color: white;
  }
}
.groups {
  grid-area: groups;
  justify-items: center;
  .grp {
    display: flex;
    flex-direction: column;
    background-color: LemonChiffon;
    text-align: center;
    color: black;
    justify-content: center;
    align-items: center;
  };
}

.sales-overview {
  grid-area: sales-overview;
  justify-items: center;
}
.sales {
  grid-area: sales;
  justify-items: center;
  .sal {
    display: flex;
    flex-direction: column;
    background-color: LightGreen;
    text-align: center;
    color: white;
    justify-content: center;
    align-items: center;
  };
}

.inventory-overview {
  grid-area: inventory-overview;
  justify-items: center;
}
.inventory {
  grid-area: inventory;
  justify-items: center;
  .inv {
    display: flex;
    flex-direction: column;
    background-color: DarkSlateGrey;
    text-align: center;
    color: white;
    justify-content: center;
    align-items: center;
  };
}

@supports not (display: grid) {
	.site {
		max-width: 50em;
		margin: 0 auto;
	}
}

@supports (display: grid) {
  @media screen and (min-width: 1199px) {
    .dashboard {
      display: grid;
      height: 100vh;
      grid-gap: 20px;
      padding: 10px;
      // align-items: center;
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
      "troops troops"
      "troops-overview troops-overview"
      "members-overview members-overview"
      "members members"
      "groups groups"
      "groups-overview groups-overview"
      "events events"
      "events-overview events-overview"
      "sales sales"
      "sales-overview sales-overview"
      // "events events"
      // "events-overview events-overview"
      "inventory inventory"
      "inventory-overview inventory-overview"
      ;
    }
  }

  @media screen and (min-width: 1200px) {
    .dashboard {
      display: grid;
      height: 100vh;
      grid-gap: 5px;
      align-items: center;
      padding: 20px;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-areas:
      "troops-overview troops troops"
      "inventory-overview inventory-overview inventory"
      "members members-overview members-overview"
      "groups-overview groups-overview groups"
      // "events-overview events-overview events"
      "sales sales-overview sales-overview"
      ;
    }
  }
}



