mat-card {
  margin: 20px 20px;
  min-height: 300px;
  min-width: 400px;
}

.trp-over canvas {
  max-height: 500px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

table {
  width: 100%;
  height: 100%;
}

.troops-overview {
  grid-area: troops-overview;
}
.troops {
  grid-area: troops;
  padding: 20px 20px 20px 20px;
  table {
    background-color: LightSlateGray;
    max-height: 500px;
  };
  mat-paginator {
    background-color: LightSlateGray;
  }
  td, th, mat-paginator {
    color: white;
  }
}


.members-overview {
  grid-area: members-overview;
  padding: 20px 20px 20px 20px;
  mat-card {
    color: white;
    background-color: OrangeRed;
  }
  table {
    background-color: OrangeRed;
    max-height: 500px;
  };
  mat-paginator {
    background-color: OrangeRed;
  }
  td, th, mat-paginator {
    color: white;
  }
}
.members {
  grid-area: members;
  .mmb {
    display: flex;
    flex-direction: column;
    background-color: OliveDrab;
    text-align: center;
    color: white;
    justify-content: center;
    align-items: center;
  };
}

.events-overview {
  grid-area: events-overview;
}
.events {
  grid-area: events;
  .evn {
    display: flex;
    flex-direction: column;
    background-color: LemonChiffon;
    text-align: center;
    color: black;
    justify-content: center;
    align-items: center;
  };
}

.sales-overview {
  grid-area: sales-overview;
}
.sales {
  grid-area: sales;
  .sal {
    display: flex;
    flex-direction: column;
    background-color: LightGreen;
    text-align: center;
    color: white;
    justify-content: center;
    align-items: center;
  };
}

.inventory-overview {
  grid-area: inventory-overview;
}
.inventory {
  grid-area: inventory;
  .inv {
    display: flex;
    flex-direction: column;
    background-color: DarkSlateGrey;
    text-align: center;
    color: white;
    justify-content: center;
    align-items: center;
  };
}

@supports not (display: grid) {
	.site {
		max-width: 50em;
		margin: 0 auto;
	}
}

@supports (display: grid) {
  @media screen and (min-width: 1199px) {
    .dashboard {
      display: grid;
      height: 100vh;
      grid-gap: 20px;
      margin: 0;
      padding: 50px 50px 50px 50px;
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
      "troops troops"
      "troops-overview troops-overview"
      "members members"
      "members-overview members-overview"
      "events events"
      "events-overview events-overview"
      "sales sales"
      "sales-overview sales-overview"
      "events events"
      "events-overview events-overview"
      "inventory inventory"
      "inventory-overview inventory-overview"
      ;
    }
  }

  @media screen and (min-width: 1200px) {
    .dashboard {
      display: grid;
      height: 100vh;
      grid-gap: 20px;
      // padding: 50px 50px 50px 50px;
      align-items: center;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-areas:
      "troops-overview troops-overview troops"
      "members members-overview members-overview"
      "events-overview events-overview events"
      "sales sales-overview sales-overview"
      "inventory-overview inventory-overview inventory"
      ;
    }
  }
}



