mat-card {
    margin: 20px 20px 20px 20px;
    min-height: 100px;
    min-width: 400px;
  }

mat-card-content {
    display: flex;
    justify-content: center;
}

mat-form-field {
    margin: 20px 20px;
}