<div class="welcome-section content-hidden">
    <div class="content-wrap">
      <ul class="fly-in-text">
        <li>H</li>
        <li>i</li>
    </ul>


    </div>
</div>
<script type="text/javascript">



</script>


<div class="scout-dashboard">

    <div class="small-card-1">
      <mat-card class="example-card animation">

          <div mat-card-avatar class="example-header-image1"></div>
          <mat-card-title >Total Sale <i class="fas fa-info-circle info"></i></mat-card-title>
          <mat-card-title><img src="https://img.icons8.com/color/48/000000/coins.png"/>
          </mat-card-title>

        <mat-card-content>
            <h1>{{totalSale | currency}}</h1>

        </mat-card-content>
        <mat-card-actions>
          <!-- <button mat-button>LIKE</button>
          <button mat-button>SHARE</button> -->
        </mat-card-actions>
      </mat-card>
    </div>




    <div class="small-card-2">
        <mat-card class="example-card animation">

          <div mat-card-avatar class="example-header-image2"></div>
          <mat-card-title >Report Sale <i class="fas fa-info-circle info"></i></mat-card-title>
          <mat-card-title><img src="https://img.icons8.com/color/48/000000/economic-improvement.png"/></mat-card-title>

        <mat-card-content>
          <button routerLinkActive="activeRoute" [routerLink]="['/sales-scout']" mat-raised-button color="accent" >Add Sale</button>
          <span>&nbsp;&nbsp;</span>
          <button routerLinkActive="activeRoute" [routerLink]="['/sales-scout']" mat-raised-button color="accent" >Request Sale</button>




        </mat-card-content>
        <mat-card-actions>
          <!-- <button mat-button>LIKE</button>
          <button mat-button>SHARE</button> -->
        </mat-card-actions>
        </mat-card>

    </div>



    <div class="small-card-3">
      <mat-card class="example-card animation">
        <div mat-card-avatar class="example-header-image3"></div>
        <mat-card-title >Total Cookies <i class="fas fa-info-circle info"></i></mat-card-title>
        <mat-card-title><img src="https://img.icons8.com/color/48/000000/dropbox.png"/></mat-card-title>

      <mat-card-content>
          <h1>{{totalCookies}}</h1>

      </mat-card-content>
      <mat-card-actions>
        <!-- <button mat-button>LIKE</button>
        <button mat-button>SHARE</button> -->
      </mat-card-actions>
    </mat-card>

    </div>

    <div class="chart-sale">
      <mat-card class="inv-sale">
        <!-- <mat-spinner *ngIf="!isTrpChartReady"></mat-spinner> -->
        <!-- <div style="display: block" *ngIf="isTrpChartReady"> -->
          <div style="display: block">
          <canvas
              baseChart
              [chartType]="chartTypeSal"
              [datasets]="chartDatasetsSal"
              [labels]="chartLabelsSal"

              [options]="chartOptionsSal"
              [legend]="true"
              (chartHover)="chartHoveredSal($event)"
              (chartClick)="chartClickedSal($event)">
          </canvas>
        </div>
      </mat-card>
    </div>

    <!-- <div class="inventory-overview">
      <mat-card class="inv-overview">
        <div style="display: block">
            <canvas baseChart
              [chartType]="chartTypeInv"
              [datasets]="chartDatasetsInv"
              [labels]="chartLabelsInv"
              [colors]="chartColorsInv"
              [options]="chartOptionsInv"
              [legend]="true">
            </canvas>
        </div>
      </mat-card>
    </div> -->

    <!-- <div class="medium-card">
      <div class="small-card-4">
        <mat-card >
          <h2 class="center">place holder</h2>
        </mat-card>
      </div>

          <div class="grid-container">
            <div class="small-card-5">
              <mat-card>
                  <h2>placeholder</h2>
                  <h2>placeholder</h2>
                  <button routerLinkActive="activeRoute" [routerLink]="['/sales-scout']" mat-raised-button color="accent" >Add Sale</button>

              </mat-card>


          </div>

            <div class="small-card-6">


            </div>

          </div>
    </div> -->


    <mat-card class="chart-event">
      <canvas baseChart
        [chartType]="chartTypeEvent"
        [datasets]="chartDatasetsEvent"
        [labels]="chartLabelsEvent"
        [colors]="chartColorsEvent"
        [options]="chartOptionsEvent"
        [legend]="true"
        (chartHover)="chartHoveredEvent($event)"
        (chartClick)="chartClickedEvent($event)">
      </canvas>
    </mat-card>





<!-- end of class sout-dashboard -->
</div>



