// $accent: rgb(255, 34, 126);
$accent: #f995c2ff;
$primary: rgb(209, 236, 255);

.sidenav-container {
  height: 100vh;
  background-color: $primary;
  background-repeat: repeat;
}

.sidenav {
  min-width: 270px;
  background-color: $accent;
}

.sidenav .mat-toolbar {
  background: inherit;
}

// .mat-toolbar.mat-primary {
//   position: sticky;
//   top: 0;
//   z-index: 1;
// }

.spacer {
  flex: 1 1 auto;
}

.hidden {
  display: none;
}

a {
  text-decoration: none;
  color: white;
  margin-left: 10px;
  margin-right: 10px;
}

a:hover {
  color: $accent;
}

.sidenav a:hover {
  color: white;
}

mat-toolbar a {
  text-align: center;
  text-decoration: none;
  color: white;
}

mat-toolbar a:hover {
  text-decoration: none;
  color: $accent;
}

img {
  width: 44px;
  height: 44px;
  // background-image: url("../../assets/logo.svg");
  // border-radius: 50%;
  // border: 5px solid $accent;
  // background-color: $primary;
}
