// $accent: rgb(255, 34, 126);
$accent: #f995c2ff;
$primary: rgb(209, 236, 255);

.sidenav-container {
  height: 100vh;
  background-image: url("../../assets/overlapping-circles.svg"),
      url("../../assets/noisy-texture-300x300-blue.png");
  background-repeat: repeat;
}

.sidenav {
  width: 250px;
  background-color: $accent;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.spacer {
  flex: 1 1 auto;
}

.hidden {
  display: none;
}

a {
  text-decoration: none;
  color: white;
  margin-left: 10px;
  margin-right: 10px;
}

a:hover {
  color: $accent;
}

.sidenav a:hover {
  color: white;
}


img {
  width: 45px;
  height: 45px;
  // background-image: url("../../assets/logo.svg");
  // border-radius: 50%;
  // border: 5px solid $accent;
  // background-color: $primary;
}
