<mat-sidenav-container class="sidenav-container">

  <!-- Side Nav -->
  <mat-sidenav
      #drawer
      class="sidenav"
      fixedInViewport="false"
      [ngClass]="{hidden: (isHandset$ | async) === false}"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">

    <!-- Side Nav Routes -->
    <mat-nav-list>
      <a [routerLink]="['/']">
        <img src="../../assets/cookie-svgrepo-com.svg" alt="logo">
      </a>
      <h1 class="mat-headline">GS-Fundraising</h1>
      <mat-divider></mat-divider>
      <mat-accordion displayMode="flat">

        <!-- Homepage -->
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <a mat-list-item [routerLink]="['/']">
              <mat-icon >
                explore
              </mat-icon>
              <span class="spacer2"></span>
              Explore
            </a>
          </mat-expansion-panel-header>
          <mat-list-item><a href="#inventory">Inventory</a></mat-list-item>
          <mat-list-item><a href="#sales">Sales</a></mat-list-item>
          <mat-list-item><a href="#events">Events</a></mat-list-item>
        </mat-expansion-panel>
        <mat-divider></mat-divider>

        <!-- Scout Routes -->
        <div *ngIf="!(userIsAdmin || userIsLeader) && userIsAuth">
          <mat-expansion-panel>
            <!-- Dashboard -->
            <mat-expansion-panel-header>
              <a *ngIf="userIsAuth" [routerLink]="['/dashboard-scout']" mat-list-item routerLinkActive="activeRoute">
               <mat-icon >
                 dashboard
               </mat-icon>
               <span class="spacer2"></span>
               Dashboard
             </a>
            </mat-expansion-panel-header>
            <!-- dashboard items -->
            <mat-list-item><a href="#">test</a></mat-list-item>
            <mat-list-item><a href="#">test</a></mat-list-item>
            <mat-list-item><a href="#">test</a></mat-list-item>
            <mat-list-item><a href="#">test</a></mat-list-item>
            <mat-list-item><a href="#">test</a></mat-list-item>
           </mat-expansion-panel>
           <mat-divider></mat-divider>

           <mat-expansion-panel>
            <!-- Request -->
            <mat-expansion-panel-header>
              <a *ngIf="userIsAuth" [routerLink]="['/request-scout']" mat-list-item routerLinkActive="activeRoute">
               <mat-icon >
                 forum
               </mat-icon>
               <span class="spacer2"></span>
               Request
             </a>
            </mat-expansion-panel-header>
            <!-- Request items -->
            <mat-list-item><a href="#">test</a></mat-list-item>
            <mat-list-item><a href="#">test</a></mat-list-item>
            <mat-list-item><a href="#">test</a></mat-list-item>
            <mat-list-item><a href="#">test</a></mat-list-item>
            <mat-list-item><a href="#">test</a></mat-list-item>
           </mat-expansion-panel>
           <mat-divider></mat-divider>
        </div>

        <!-- Leader Routes -->
         <div *ngIf="userIsAdmin || userIsLeader">
           <mat-expansion-panel>
             <!-- Dashboard -->
             <mat-expansion-panel-header>
               <a *ngIf="userIsAuth" [routerLink]="['/dashboard-leader']" mat-list-item routerLinkActive="activeRoute">
                <mat-icon >
                  dashboard
                </mat-icon>
                <span class="spacer2"></span>
                Dashboard
              </a>
             </mat-expansion-panel-header>
             <!-- dashboard items -->
             <mat-list-item><a href="#">test</a></mat-list-item>
             <mat-list-item><a href="#">test</a></mat-list-item>
             <mat-list-item><a href="#">test</a></mat-list-item>
             <mat-list-item><a href="#">test</a></mat-list-item>
             <mat-list-item><a href="#">test</a></mat-list-item>
            </mat-expansion-panel>
            <mat-divider></mat-divider>

            <!-- Inventory -->
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <a *ngIf="userIsAuth" [routerLink]="['/inventory-leader']" mat-list-item routerLinkActive="activeRoute">
                  <mat-icon >
                    store
                  </mat-icon>
                  <span class="spacer2"></span>
                  Inventory
                </a>
              </mat-expansion-panel-header>
              <!-- Inventory items -->
              <mat-list-item><a href="#">test</a></mat-list-item>
              <mat-list-item><a href="#">test</a></mat-list-item>
              <mat-list-item><a href="#">test</a></mat-list-item>
              <mat-list-item><a href="#">test</a></mat-list-item>
              <mat-list-item><a href="#">test</a></mat-list-item>
            </mat-expansion-panel>
            <mat-divider></mat-divider>

            <!-- Members -->
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <a *ngIf="userIsAuth" [routerLink]="['/members-leader']"   mat-list-item routerLinkActive="activeRoute">
                  <mat-icon >
                    people
                  </mat-icon>
                  <span class="spacer2"></span>
                  Members
                </a>
              </mat-expansion-panel-header>
            </mat-expansion-panel>
            <mat-divider></mat-divider>

            <!-- Events -->
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <a *ngIf="userIsAuth" [routerLink]="['/events-leader']"    mat-list-item routerLinkActive="activeRoute">
                  <mat-icon >
                    event
                  </mat-icon>
                  <span class="spacer2"></span>
                  Events
                </a>
              </mat-expansion-panel-header>
            </mat-expansion-panel>
            <mat-divider></mat-divider>

            <!-- Sales -->
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <a *ngIf="userIsAuth" [routerLink]="['/sales-leader']"     mat-list-item routerLinkActive="activeRoute">
                  <mat-icon >
                    show_chart
                  </mat-icon>
                  <span class="spacer2"></span>
                  Sales
                </a>
              </mat-expansion-panel-header>
            </mat-expansion-panel>
            <mat-divider></mat-divider>
          </div>
        </mat-accordion> <!-- End Accordion -->
    </mat-nav-list>
  </mat-sidenav>

  <!-- Top Toolbar -->
  <mat-sidenav-content>
    <mat-toolbar color="primary">

      <!-- Hamburger Menu -->
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

      <!-- Routes -->
      <!-- <a href="" [ngClass]="{hidden: (isHandset$ | async) === true}">
        <img src="../../assets/cookie-svgrepo-com.svg" alt="logo">
      </a> -->
      <span class="spacer"></span>

      <!-- Show these Only When in handset mode -->
      <!-- <div *ngIf="((isHandset$ | async) === false)">
        <a *ngIf="!userIsAuth" [routerLink]="['/']" routerLinkActive="mat-accent">Explore</a>
        <div *ngIf="userIsAdmin || userIsLeader">
          <a *ngIf="userIsAuth" [routerLink]="['/dashboard-leader']" routerLinkActive="mat-accent">Dashboard</a>
          <a *ngIf="userIsAuth" [routerLink]="['/inventory-leader']" routerLinkActive="mat-accent">Inventory</a>
          <a *ngIf="userIsAuth" [routerLink]="['/members-leader']" routerLinkActive="mat-accent">Members</a>
          <a *ngIf="userIsAuth" [routerLink]="['/events-leader']" routerLinkActive="mat-accent">Events</a>
          <a *ngIf="userIsAuth" [routerLink]="['/sales-leader']" routerLinkActive="mat-accent">Sales</a>
        </div>
        <div *ngIf="!userIsAdmin || !userIsLeader">
          <a *ngIf="userIsAuth" [routerLink]="['/dashboard-scout']" routerLinkActive="mat-accent">Dashboard</a>
          <a *ngIf="userIsAuth" [routerLink]="['/request-scout']" routerLinkActive="mat-accent">Request</a>
        </div>
      </div> -->

      <!-- Login Route -->
      <a *ngIf="!userIsAuth" [routerLink]="['/login']" routerLinkActive="mat-accent">Login</a>

      <!-- Logout -->
      <button mat-flat-button *ngIf="userIsAuth" color="warn" (click)="onLogout()">Logout</button>
    </mat-toolbar>

    <!-- Angular Content Projection -->
    <ng-content></ng-content>
  </mat-sidenav-content>

</mat-sidenav-container>
