
<!-- Grid -->
<div class="homepage">

  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">GS Fundrasing Platform</h1>
      <p class="lead">
        This is a inventory, sales, and event managment
        platform for the a Girl's Scouts Troop.
      </p>
    </div>
  </div>

  <div class="inventory-marketing">

  </div>

  <div class="inventory">

  </div>

  <div class="sales-marketing">

  </div>
  <div class="sales">

  </div>

  <div class="events-marketing">

  </div>
  <div class="events">

  </div>


  <footer class="footer">

  </footer>

</div>

