
<!-- Grid -->
<div class="homepage">

  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">GS Fundrasing Platform</h1>
      <p class="lead">
        This is a inventory, sales, and event managment
        platform for the a Girl's Scouts Troop.
      </p>
    </div>
  </div>

  <div class="i-marketing">
    <img src="../../assets/inventory.jpg" alt="cookies">
  </div>
  <div id="inventory" class="inventory">
    <h2>Our Inventory</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi vel dignissimos sunt cumque voluptatem sint praesentium, ipsam voluptas cupiditate tempora incidunt dolore assumenda velit adipisci veniam veritatis laboriosam voluptatum ipsum.
    </p>
  </div>

  <div class="s-marketing">
    <img src="../../assets/sales.jpg" alt="sales">
  </div>
  <div id="sales" class="sales">
    <h2>Our Sales</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam, aliquam sunt. Consectetur optio ea, facilis perspiciatis expedita asperiores itaque explicabo, consequatur nisi, mollitia quam molestiae fugit? Soluta commodi expedita ea.
    </p>
  </div>

  <div class="e-marketing">
    <img src="../../assets/events.jpg" alt="events">
  </div>
  <div id="events" class="events">
    <h2>Our Events</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus dolorum voluptas quasi commodi sequi earum impedit voluptatibus molestiae amet non, dolor laborum! Eos cumque temporibus commodi necessitatibus fugiat obcaecati quasi?
    </p>
  </div>


  <footer class="footer">
    <p> © 2020 Copyright Text </p>
  </footer>

</div>

