<!DOCTYPE html>
<html>

<head>
    <title>Password Reset Request</title>
</head>

<body>
    <div>
	    <h3>Hello {{first_name}},</h3>
	<p>A password reset request was made for an account associated with this email. If you did not make this request, then disregard this message and no changes will be made to your account </p>
	<br>
	<p> Please click on the following link to reset your password: <a href="{{url}}">{{url}}</a> </p>
        <br>
	<p> (Please note that this token only lasts a day!) </p>
	<br>
        <p>Contact your local fundraiser organizer if you have any questions. Have a great day!</p>
    </div>
   
</body>

</html>
