<div class="divLeft">
  <div style="display: block; width: 50%; height: 50%;">
    <canvas mdbChart
            [chartType]="chartType"
            [datasets]="chartDatasets"
            [labels]="chartLabels"
            [colors]="chartColors"
            [options]="chartOptions"
            [legend]="true"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)">
    </canvas>
  </div>
</div>

<div class="divRight">
  <span class="group-title">Choose Groups</span>
    <button mat-icon-button [matMenuTriggerFor]="menu" size="lg">
      <mat-icon class="group-title material-icons">arrow_drop_down</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item *ngFor="let groupName of groups" (click)="onSelect($event)">{{groupName}}</button>
    </mat-menu>
</div>

<!-- Editable table -->
<div class="divBottom">
  <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Inventory Table</h3>
  <div class="card-body">
    <div id="table" class="table-editable">
      <span class="table-add float-bottom mb-3 mr-2">
        <a class="text-success" (click)="add()">
          <mdb-icon fas icon="plus" size="2x"></mdb-icon>
        </a>
      </span>
      <table class="table table-bordered table-responsive-md table-striped text-center">
        <tr>
          <th class="text-center">Item</th>
          <th class="text-center">Cost ($$)</th>
          <th class="text-center">Price ($$)</th>
          <th class="text-center">Quantity</th>
          <th class="text-center">Weight</th>
          <th class="text-center">Description</th>
          <th class="text-center">Update</th>
          <th class="text-center">Remove</th>
        </tr>
        <tr *ngFor="let person of inventoryList; let id = index">
          <td>
            <span (keyup)="changeValue(id, 'prod_item', $event)" (blur)="updateList(id, 'prod_name', $event)" contenteditable="true">{{person.prod_name}}</span>
          </td>
          <td>
            <span contenteditable="true" (keyup)="changeValue(id, 'cost', $event)" (blur)="updateList(id, 'cost', $event)">{{person.cost}}</span>
          </td>
          <td>
            <span contenteditable="true" (keyup)="changeValue(id, 'sales_price', $event)" (blur)="updateList(id, 'sales_price', $event)">{{person.sales_price}}</span>
          </td>
          <td>
            <span contenteditable="true" (keyup)="changeValue(id, 'quantity', $event)" (blur)="updateList(id, 'quantity', $event)">{{person.quantity}}</span>
          </td>
          <td>
            <span contenteditable="true" (keyup)="changeValue(id, 'weight', $event)" (blur)="updateList(id, 'weight', $event)">{{person.weight}}</span>
          </td>
          <td>
            <span contenteditable="true" (keyup)="changeValue(id, 'description', $event)" (blur)="updateList(id, 'description', $event)">{{person.description}}</span>
          </td>
          <td>
            <span class="table-update">
              <button type="button" mdbBtn color="primary" rounded="true" size="sm" class="my-0" (click)="update(id)" [disabled]="!showButton[id]">{{inventoryList[id].product_id == -1 ? 'Add Product' : 'Update'}}</button>
            </span>
          </td>
          <td>
            <span class="table-remove">
              <button type="button" mdbBtn color="danger" rounded="true" size="sm" class="my-0" (click)="remove(id)">Remove</button>
            </span>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
<!-- Editable table -->
