<div class="dashboard">
  <div class="cards" style="background-color: white;">
    <form class="input-form" (ngSubmit)="addMember()" [formGroup]="memberForm" novalidate>

      <!-- input name field -->
      <mat-form-field class="input-form-full-width">

        <mat-label>Full Name</mat-label>

        <input matInput
                name="name"
                type="text"
                formControlName="name"
                class="form-control"
                placeholder="Ex. David Dobrik" autocomplete="off">
        <mat-error
          *ngIf="memberForm.controls.name.invalid && memberForm.controls.name.touched">
          Please enter a valid <strong>name</strong>!
        </mat-error>

      </mat-form-field>


      <!-- input email field -->
      <mat-form-field class="input-form-full-width">
        <mat-label>Email Address</mat-label>
        <input matInput
                name="email"
                type="email"
                formControlName="email"
                class="form-control"
                placeholder="Ex. karen@gmail.com" autocomplete="off">
          <mat-error *ngIf="memberForm.controls.email.invalid && memberForm.controls.email.touched">The email address must contain at least the
            <strong>@</strong></mat-error>

      </mat-form-field>

      <br>
      <br>

      <div class="form-group">
        <select class="form-control">
          <option value="">Please select a group</option>
          <option *ngFor="let group of groups"
                  [value]="group">
                  {{group}}</option>
        </select>
      </div>







      <!-- Submitt button -->
      <button type="submit">
        Add new member
      </button>
    </form>

    <!-- end of class cards -->
  </div>



  <div class="cards">
    <div class="group-title">
      <span>Group Name: </span>
      <span><button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon class="material-icons">arrow_drop_down</mat-icon>
        </button></span>
      <mat-menu #menu="matMenu">
        <ng-template matMenuContent let-name="group">
          <button mat-menu-item *ngFor="let groupName of groups" (click)="onSelect($event)">{{groupName}}</button>
        </ng-template>
      </mat-menu>


    </div>


    <mat-form-field>
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Karen">
    </mat-form-field>

    <div class="table-scroll">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 ">

        <!-- Position Column -->
        <ng-container matColumnDef="user_id">
          <th mat-header-cell *matHeaderCellDef> ID </th>
          <td mat-cell *matCellDef="let member"> {{member.user_id}} </td>
          <!-- <td mat-footer-cell *matFooterCellDef> Total: </td> -->
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="full_name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let member"> {{member.full_name}} </td>
          <!-- <td mat-footer-cell *matFooterCellDef></td> -->
        </ng-container>

        <!-- GroupID Column -->
        <!-- <ng-container matColumnDef="groupID">
          <th mat-header-cell *matHeaderCellDef> Group ID </th>
          <td mat-cell *matCellDef="let member"> {{member.group_id}} </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container> -->

        <!-- Email Column -->
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef> Email </th>
          <td mat-cell *matCellDef="let member"> {{member.email}} </td>
          <!-- <td mat-footer-cell *matFooterCellDef></td> -->
        </ng-container>

        <!-- Revenue Column -->
        <!-- <ng-container matColumnDef="revenue">
          <th mat-header-cell *matHeaderCellDef> Sale ($) </th>
          <td mat-cell *matCellDef="let member"> {{member.revenue | currency}} </td>
          <td mat-footer-cell *matFooterCellDef>{{getTotalCost() | currency}}</td>
        </ng-container> -->

        <!-- Update Column -->
        <ng-container matColumnDef="update">
          <th mat-header-cell *matHeaderCellDef> Update </th>
          <td mat-cell *matCellDef="let member">
            <button mat-icon-button color="accent" (click)="redirectToUpdate(member.id)">
                <mat-icon class="mat-18">update</mat-icon>
            </button>
          </td>
          <!-- <td mat-footer-cell *matFooterCellDef></td> -->
        </ng-container>

        <!-- Delete Column -->
        <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef> Delete </th>
            <td mat-cell *matCellDef="let member">
              <button mat-icon-button color="warn" (click)="redirectToDelete(member.id)">
                  <mat-icon class="mat-18">delete</mat-icon>
              </button>
            </td>
          <!-- <td mat-footer-cell *matFooterCellDef></td> -->
          </ng-container>



        <!-- Total Row -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <!-- <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky:true"></tr> -->

      </table>

    </div>

  </div> <!-- End of class card-->



  <div class="cards-1">
    <canvas mdbChart [chartType]="chartType" [datasets]="chartDatasets" [labels]="chartLabels" [colors]="chartColors"
      [options]="chartOptions" [legend]="true" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
    </canvas>
  </div>


</div>
<!--End of class dashbaord-->
