.jumbotron h1, p {
  color: black;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



.group-title {
  color: black;
  padding: 10px 10px 5px 10px;
  background-color:white;
  margin-bottom: 10px;
  max-width: 200px;
  border-radius: 10px;
  box-shadow: 2px 4px 15px rgba(0, 0, 0, .5);
  text-align: center;

}


.cards{
  display:grid;

  padding: 40px 40px 40px 40px;
  grid-template-columns: 1fr;
}


/* Table Structure */
table {
  width: 100%;
}

.table-scroll {
  position: relative;
  height: 500px;
  overflow: auto;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;

}

/* Total row */
tr.mat-footer-row {
  font-weight: bold;
}



// .tble-1{
//   tr:first-child {
//     background-color: #9b99cb;
//   }

//   tr:nth-child(even) {
//     background-color: #e6e6ff;
//   }

//   tr:not(:first-child):nth-child(odd) {
//     background-color: white;
//   }
// }



// table section - container 2



@supports (display: grid) {
  @media screen and (min-width: 1199px) {
    .dashboard {
      display: grid;
      height: 100vh;
      grid-gap: 20px;
      margin: 0;
      padding: 50px 50px 50px 50px;
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
      "groups"
      ;
    }
  }

  @media screen and (min-width: 1200px) {
    .dashboard {
      display: grid;
      // height: 100vh;
      grid-gap: 20px;
      padding: 50px 50px 50px 50px;
      align-items: center;
      grid-template-columns: 1fr 1fr ;
      grid-template-areas:
      "groups"
      ;
    }
  }
}
